body {
    background-color: rgb(29, 184, 145);
    font-size: 4vw;
}

header {
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: rgb(28, 28, 95);
    color: rgb(29, 184, 145);
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    width:100%
    
}

h1 {
    font-size: 12vw;
}

select {
    font-size: 4vw;
}


.smallImg {
    border-radius: 125px;
    min-width: 150px;
    max-width: 300px;
    border: solid rgb(28, 28, 95);
}

.largeImg {
    min-width: 300px;
    max-width: 700px;
    border-radius: 100px;
    border: solid rgb(28, 28, 95);
    background-color: blue;
    color: rgb(29, 184, 145);
}

#largeImage {
    min-width: 350px;
    max-width: 750px;
    margin: auto;
    text-align: center;
    padding: 25px;
    border-radius: 100px;
}

.imgTitle{
    text-align: center;
}

.line{
    display: flex;
    justify-content: center;
}

button {
    align-items: center;
    background-color: blue;
    border: rgb(29, 184, 145);
    padding: 5px;
    margin: auto;
    max-width: 75px;
    max-height: 50px;
    border-radius: 25px;
    font-size: 3vw;
}

label {
    font-weight: bold;
    color: rgb(28, 28, 95);
    text-align: center;
}

#label3 {
    color: rgb(29, 184, 145);
}

.imgContainer {
    margin: 25px;
    text-align: center;
    justify-content: center;
}
.dropdown {
    text-align: center;
    margin-top: 25px;
    color: blue;
}
