body {
    background-color: #3772FF;
    color: #210124;
}


.heading {
    background-color: #210124;
    color: #3772FF;
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0px;
}


.smallImg {
    border-radius: 125px;
    max-width: 9rem;
    border: solid #210124;
}

.largeImg {
    width: 90%;
    max-width: 500px;
    border-radius: 100px;
    border: solid #210124;
}

#largeImage {
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.imgTitle{
    text-align: center;
}

.line{
    display: flex;
    justify-content: center;
}

button {
    display: inline;
    background-color: #75DDDD;
    border: #210124;
    padding: .5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    text-align: center;
}

.imgContainer {
    margin: 25px;
    text-align: center;
    justify-content: center;
}
.dropdown {
    text-align: center;
    margin-top: 25px;
}
